body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    background-color: rgb(40, 40, 40);
}

*,
*::before,
*::after {
    color: #fff;
    box-sizing: border-box;
    text-decoration: none;
    font-size: 1rem;
}

.navbar {
    width: 100%;
    height: 50px;
    background-color: black;
    padding: 0 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar__button {
    background: transparent;
    border: none;
    font-size: 1rem;
    cursor: pointer;
    height: 100%;
    display: flex;
    align-items: center;
}

.home {
}

.home__quizes {
    padding: 1rem;
}

.home__quiz {
    background-color: rgb(0 0 0 / 30%);
    padding: 1rem 2rem;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home__quiz-link {
    border: 1px solid #fff;
    padding: 1rem 3rem;
    border-radius: 0.25rem;
}

.game {
    padding: 1rem;
}

.game__quiz {
}

.game__title {
    text-align: center;
}

.game__question {
    text-align: center;
}

.game__label {
    background-color: rgb(0 0 0 / 30%);
    display: flex;
    align-items: center;
    padding: 0.2rem 1rem;
    margin-bottom: 1rem;
}

.game__radio {
    margin: 0 1rem 0 0;
}

.game__button {
    display: block;
    margin: 0 auto;
    background: transparent;
    padding: 1rem 3rem;
    border-radius: 0.25rem;
    border: 1px solid #fff;
    width: fit-content;
    cursor: pointer;
}

.game__results {
}

.game__results-text {
    text-align: center;
}

.create-quiz {
    padding: 1rem;
}

.create-quiz__question {
    background-color: rgb(0 0 0 / 30%);
    margin-bottom: 1rem;
    padding: 1rem;
}

.create-quiz__label {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 1rem;
    padding: 0 1rem;
}

.create-quiz__title {
    background-color: rgb(0 0 0 / 30%);
    padding: 1rem 2rem;
}

.create-quiz__input {
    background-color: rgb(40, 40, 40);
    border: none;
}

.create-quiz__select {
    background-color: rgb(40, 40, 40);
    border: none;
}

.create-quiz__button {
  display: block;
  background: transparent;
  padding: 1rem;
  border-radius: 0.25rem;
  border: 1px solid #fff;
  margin: 0 auto 1rem auto;
  width: fit-content;
  cursor: pointer;
}

@media (min-width: 767px) {
  .home__quizes {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
  }
  .home__quiz {
    min-width: 30vw;
    flex-grow: 1;
    max-width: 50%;
  }
  .game__quiz {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
  }
  .game__title {
    flex-basis: 100%;
  }
  .game__question {
    flex-basis: 100%;
  }
  .game__label {
    flex-grow: 1;
    flex-basis: 45%;
    cursor: pointer;
    margin-bottom: 0;
  }
  .game__button {

  }
}